.about__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    box-sizing: border-box;
}

.about__card__text__content {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    align-items: start;
    width: 35%;
}

.about__card__visual__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.about__card__image {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 780px) {
    .about__card {
        flex-direction: column;
        padding: 2rem;
    }

    .about__card__visual__content {
        width: 100%;
    }

    .about__card__text__content {
        width: 80%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .about__card__text__content p {
        font-size: 1rem;
    }
}
