.header__hamburger {
    margin-top: 0.8rem;
    display: none;
    cursor: pointer;
}

.header__hamburger__bar {
    display: block;
    width: 3rem;
    height: 0.3rem;
    margin: 0.8rem;
    transition: all 0.3s ease;
    background-color: black;
}

@media screen and (max-width: 780px) {
    .header__hamburger {
        display: block;
    }

    .header__hamburger.active .header__hamburger__bar:nth-child(2) {
        opacity: 0;
    }

    .header__hamburger.active .header__hamburger__bar:nth-child(1) {
        transform: translateY(1.1rem) rotate(45deg);
    }

    .header__hamburger.active .header__hamburger__bar:nth-child(3) {
        transform: translateY(-1.1rem) rotate(-45deg);
    }

    .header__nav.active {
        right: 0;
        top: 6rem;
    }

    .header__nav {
        position: absolute;
        right: -100%;
        flex-direction: column;
        width: 8rem;
        text-align: center;
        transition: 0.3s;
        background-color: var(--primary-tint-c);
        height: fit-content;
    }

    .nav .tab__button {
        width: 7rem;
    }
}

@media screen and (max-width: 500px) {
    .header__hamburger {
        margin-top: 0.3rem;
    }
    .header__nav.active {
        top: 4.5rem;
    }
}
