.contact__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    box-sizing: border-box;
}

.contact__card__address__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-right: 10%;
    width: 35%;
}

.contact__card__form__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 35%;
}

.contact__card__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__card__form__input,
.contact__card__form__textarea {
    padding: 15px;
    border-color: var(--secondary-tint-c);
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
}

.contact__card__form__textarea {
    height: 150px;
}

.contact__card__form__button {
    background-color: var(--primary-c);
    color: var(--primary-tint-c);
    padding: 4%;
    border: none;
    border-radius: 5px;
    width: fit-content;
}

.contact__card__form__button:hover {
    background-color: rgb(192, 192, 192);;
    color: var(--primary-c);
    transform: scale(1.05);
}

.map__container {
    width: 40%;
    display: flex;
    justify-content: center;
    
}

.contact__card__map {
    width: 20rem;
    display: block;
}

@media screen and (max-width: 780px) {
    .contact__card {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact__card__heading {
        font-size: 1.5rem;
    }

    .map__container {
        margin-top: 3rem;
        margin-left: 45%;
    }

    .contact__card__form__content {
        width: 80%;
    }
}