.footer {
    background-color: var(--footer-c);
    box-sizing: border-box;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    padding-left: 4rem;
    padding-right: 4rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.footer button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.2rem 0;
}

.footer button:hover {
    text-decoration: underline;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer p {
    color: white;
}

.list__socials {
    display: flex;
    gap: 1rem;
}

.socials__image:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 780px) {
    .footer__top {
        padding: 0 1rem;
    }

    .footer__bottom {
        padding: 0 1rem;
    }

    .footer ul li button {
        font-size: 0.7rem !important;
    }
}