@import './header.css';
@import './footer.css';
@import './aboutCard.css';
@import './contactCard.css';
@import './factsCard.css';
@import './productsCard.css';
@import './signupCard.css';
@import './statsCard.css';
@import './tabsCard.css';
@import './card.css';
@import './references.css';

body {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colours*/
    --primary-c: #64b81c;
    --primary-tint-c: #edf4e7;
    --background-c: #fbfbfe;
    --text-headings-c: #403f4a;
    --text-body-c: #585662;
    --footer-c: #29282e;
    /*Font*/
    --primary-font: Inter, monospace;
}

* {
    font-family: var(--primary-font);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-size: 2.5rem;
}

