:root {
    /*Colours*/
    --primary-c : #64b81c;
    --primary-tint-c : #edf4e7;
    --background-c : #fbfbfe;
    --text-headings-c : #403f4a;
    --text-body-c : #585662;
    --footer-c : #29282e;
    /*Font*/
    --primary-font : Inter, monospace;
}

* {
    font-family: var(--primary-font)
}