.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--primary-tint-c);
    width: 100%;
    border-bottom-left-radius: 50% 200px;
    border-bottom-right-radius: 50% 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -50px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav__list__button {
    color: var(--text-body-c);
    background-color: rgba(255, 255, 255, 0.01);
    border: none;
    cursor: pointer;
    margin: 0 3rem;
}

.header__footnote {
    color: var(--text-body-c);
    margin-bottom: 50px;
}

.header__image {
    display: initial;
    width: 70%;
    height: auto;
    z-index: 1000;
    border-radius: 20px;
}
