.header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--primary-tint-c);
    width: 100%;
    border-bottom-left-radius: 50% 200px;
    border-bottom-right-radius: 50% 200px;
    width: 100%;
    overflow: hidden;
    margin-bottom: -50px;
    position: relative;
}

.header__heading {
    text-align: center;
    margin-top: 2rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.nav__list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
}

.nav .tab__button {
    color: var(--text-body-c);
    background-color: rgba(255, 255, 255, 0.01);
    border: none;
    cursor: pointer;
    margin: 0 3rem;
    font-size: 1.3rem;
    padding: 0.5rem;
}

.nav .tab__button:hover {
    color: var(--text-headings-c);
    text-decoration: underline;
}

.nav .selected__button {
    border-bottom: 0.4rem solid var(--primary-c);
}

.header__footnote {
    color: var(--text-body-c);
    margin-bottom: 50px;
}

.header__image {
    width: 80%;
    height: auto;
    z-index: 1000;
    border-radius: 20px;
    margin-top: 2rem;
}

@media screen and (max-width: 780px) {
    .header {
        background-color: transparent;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .header__img {
        width: 100%;
    }
    .header__top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--primary-tint-c);
    }

    .header__top img {
        margin-left: 1rem;
    }
}
