.popup__container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
.popup__image {
    width: 30vw;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}
.popup__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-tint-c);
    border-radius: 10px;
    padding: 15px;
}
.popup__description {
    width: 40vw;
}

.popup__button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.popup__button {
    background-color: var(--primary-c);
    color: var(--primary-tint-c);
    padding: 4%;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
}

.popup__button:hover {
    background-color: var(--secondary-tint-c);
    color: var(--primary-c);
}

.popup__details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.popup__short__paragraph {
    background-color: var(--background-c);
    border: 1px var(--primary-c);
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 780px) {
    .popup__image {
        object-fit: cover;
        width: 90vw;
        height: 30vh;
    }

    .popup__description {
        width: 90vw;
    }
}

@media screen and (max-width: 500px) {
    .popup__title {
        font-size: 1.5rem;
    }
}

/*
    .popup__title
    .popup__description
    .popup__difficulty
    .popup__price
    .popup__purchase
    .popup__addtocart
    .popup__close;*/
