.products__card {
    box-sizing: border-box;
    margin-top: 3rem;
}
.products__card__heading {
    width: 100%;
    text-align: center;
}

.products__card__form {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.products__card__form__input {
    padding: 1rem;
    border: 2px solid var(--primary-c);
    border-radius: 5px 0 0 5px;
    width: 30%;
}

.products__card__form__button {
    background-color: var(--primary-c);
    color: var(--primary-tint-c);
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 1rem;
    cursor: pointer;
}

.products__card__results__number {
    text-align: center;
    margin-bottom: 2rem;
}

.products__card__form__button:hover {
    background-color: var(--primary-tint-c);
    color: var(--primary-c);
}

.products__card__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.products__card__result {
    width: 20%;
    min-width: 10rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.products__card__result__image {
    border-radius: 1rem;
    max-width: 100%;
    max-height: 15rem;
    overflow: hidden;
}

@media screen and (max-width: 780px) {
    .products__card__form__input {
        width: 80%;
    }

    .products__card__result {
        width: 80%;
    }
}
