.signup__card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
}

.signup__card__text__content {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    justify-content: center;
    box-sizing: border-box;
    width: 30%;
}

.signup__card__image {
    border-radius: 10px;
    width: 60%;
    box-sizing: border-box;
    margin-top: 2rem;
}

.signup__card__button {
    background-color: var(--primary-c);
    color: var(--primary-tint-c);
    padding: 4%;
    border: none;
    border-radius: 5px;
}

.signup__card__button:hover {
    background-color: rgb(192, 192, 192);;
    color: var(--primary-c);
    transform: scale(1.05);
}

@media screen and (max-width: 780px) {
    .signup__card {
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem;
    }

    .signup__card__image {
        width: 95%;
    }

    .signup__card__heading {
        font-size: 1rem;
        text-align: center;
    }

    .signup__card__text__content {
        width: 80%;
        align-items: center;
    }

    .signup__card__button {
        width: 80%;
    }
}

