.stats__card {
    box-sizing: border-box;
}

.stats__card__heading {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    box-sizing: border-box;
}

.stats__card__quote__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin: 4rem auto;
    height: 10rem;
    font-size: 2rem;
    text-align: center;
    width: 60%;
    box-sizing: border-box;
}

q:before,
q:after {
    content: '';
}

.tab .stats__card__quote {
    display: none;
}

.stats__card__list {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.button__portrait {
    width: 3rem;
    border-radius: 1.5rem;
    height: 3rem;
    margin-top: 1rem;
}

.stats__card .tab__button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    padding: 0;
    margin: 0 1rem;
    background-color: transparent;
    border: none;
    
}

.stats__card .tab__button:hover {
    background-color:  rgb(192, 192, 192);
    cursor: pointer;
}

.stats__card .selected__button {
    color: black;
    border-top: 0.4rem solid var(--primary-c);
    border-bottom: none;
    box-sizing: border-box;
    width: 70%;
}

.stats__card__big__button {
    background-color: var(--primary-c);
    color: var(--primary-tint-c);
    border: none;
    border-radius: 5px;
    padding: 3rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 3rem auto;
    display: block;
    width: 80%;
}

.stats__card__big__button:hover {
    background-color: rgb(192, 192, 192);;
    color: var(--primary-c);
    transform: scale(1.05);
}

@media screen and (max-width: 780px) {
    

    .stats__card .tab__button {
        width: 20%;
        padding: 0;
        margin: 0 2%;
        background-color: transparent;
        border: none;
        flex-direction: column;
        align-items: center;
    }

    .stats__card .selected__button {
        color: black;
        border-top: 0.3rem solid var(--primary-c);
        box-sizing: border-box;
        margin: 0 2%;
        width: 20%;
    }

    .stats__button__text h3 {
        font-size: 0.7rem;
    }

    .stats__button__text p {
        font-size: 0.5rem;
    }

    .stats__card__quote__container {
        font-size: 1.5rem;
        margin: 2rem auto;
    }

    .stats__card__list {
        width: 100%;
         justify-content: space-around;
    }

    .stats__card__big__button {
        width: 100%;
        padding: 2rem;
        font-size: 1rem;
        border-radius: 0;
    }
}
