.tabs__card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    height: fit-content;
}

.tabs__card__list {
    width: 20%;
    margin-left: 5%;
    list-style: none;
    box-sizing: border-box;
}

.tabs__card .tab__button {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-c);
}

.tabs__card .tab__button:hover {
    background-color: var(--primary-c);
    cursor: pointer;
}

.tabs__card .selected__button {
    color: var(--text-headings-c);
    margin-bottom: 0;
    border-left: 0.5rem solid var(--primary-c);
}



.selected__tab .tabs__card img  {
    box-sizing: border-box;
    width: 40%;
    max-height: 20rem;
    border-radius: 10px;
}


@media screen and (max-width:780px) {
    .tabs__card {
        padding:2rem
    }

    .selected__tab .tabs__card img {
        width: 90%;
    }

    .tabs__card__list {
        width: 70%;
        align-items: center;
        margin-right: 13%;
    }


    .tabs__card .selected__button {
        border-left: none;
        border-bottom: 0.3rem solid var(--primary-c);;
    }

    .tabs__card__list .tab__button h3 {
        font-size: 0.5rem;
    }

    .tabs__card__list .tab__button p {
        font-size: 0.3rem;
    }
}