.tabs__card {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    height: fit-content;
}

.tabs__card__list {
    width: 20%;
    margin-left: 10%;
    list-style: none;
}

.tabs__card__list__button {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary-c);
}

.tabs__card__list__button:hover {
    background-color: var(--primary-c);
    cursor: pointer;
}

.tabs__card__list__button:active {
    color: var(--text-headings-c);
    margin-bottom: 0;
}

.tabs__card__list__button--active {
    color: var(--text-headings-c);
    border-left: 0.5rem solid var(--primary-c);
}

.tabs__card__img {
    display: none;
    box-sizing: border-box;
    width: 40%;
    height: 35%;
    border-radius: 10px;
}

.tabs__card__img--active {
    display: block;
    box-sizing: border-box;
    width: 40%;
    max-height: 20rem;
    border-radius: 10px;
}
